@{
    Layout = "_Layout";
}
<div class="main-page">
    <h1 style="color:gray; font-size:100px; width:70%; text-align: center">Дорбро пожаловать в планировщик</h1>
    <h2 style="color:gray; font-size:50px; width:70%; text-align: center">Создавать, редактировать, удалять свои задачи теперь стало еще удобнее</h2>
    <a asp-route="GetTasks" class="c">Начать</a>
</div>
